.Sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #091724;
    padding: 40px;
    overflow-y: auto;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .Sidebar .user__profile__picture img {
    max-width: 100px; 
    max-height: 100px; 
    background-color: white;
  }

  .website__logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
  }

  .logo__link {
    color: #fff;
    text-decoration: none;
  }  

  .sidebar_button {
    font-size: 30px;
    padding: 45px 15px;
    max-width: 300px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
  }

  .sidebar_button:hover {
    background-color: #333;
  }