/* App.css */

/* Set background color */
body {
  background-color: #0d2235;
}

/* Container for the app */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style for the fighter list */
.FighterList {
  margin-top: 20px;
}

/* Style for the fighter list title */
.FighterList h1 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the fighter list items */
.FighterList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style for each fighter list item */
.FighterList li {
  background-color: #1c3b59;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer; /* Add cursor pointer to indicate clickable */
  transition: background-color 0.2s ease-in-out; /* Add smooth transition effect */
  border: 2px solid #2c5a82; /* Add border around the fighter item */
}

/* Style for each fighter list item on hover */
.FighterList li:hover {
  background-color: #2c5a82; /* Change background color on hover for visual feedback */
}

/* Style for fighter profile name */
.FighterList h2 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for fighter profile details */
.FighterList p {
  color: #d9d9d9;
  font-size: 14px;
  margin: 0;
}

/* Style for "No fighters found" message */
.FighterList p.no-fighters {
  color: #fff;
  font-size: 16px;
  margin: 0;
}
